.buscador-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.tarjeta-producto {
  padding: 10px;
}
