<mat-sidenav-container class="sidenav-container" style="height: 100vh;">
  <mat-sidenav #drawer mode="side" opened>
    <mat-toolbar color="primary">Menú</mat-toolbar>

    <mat-nav-list>
      <button mat-button routerLink="/productos" routerLinkActive="active">
        <mat-icon>inventory_2</mat-icon>
        <span>Productos</span>
      </button>

      <!-- Solo mostrar para usuarios ADMIN -->
      @if (esAdmin) {
        <button mat-button routerLink="/mercado" routerLinkActive="active">
          <mat-icon>storefront</mat-icon>
          <span>Mercado</span>
        </button>

        <button mat-button routerLink="/usuario" routerLinkActive="active">
          <mat-icon>person</mat-icon>
          <span>Usuario</span>
        </button>
      }

      <div class="spacer"></div>

      <!-- Cerrar sesión al final -->
      <button mat-button color="warn" (click)="logout()" class="logout-button">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Farmacia</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
